$color-primario: rgba(82, 60, 42);
$bordes: 2px solid #ffedbc;
$color-fondo: #ad9b90;
$color-texto: #ffedbc;



body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-image: url(../assets/wallpaperflare.com_wallpaper.jpg);
    background-size: cover;
  }
  
  p {
    color: #ffedbc;
    background-color: rgba(82, 60, 42, 0.55);
    font-size: 20px;
  }
  
  header { display: flex;
    flex-direction: column;
    border: 2px solid #ffedbc;
      background-color: #ad9b90;
  position: fixed;
  padding-right: 100%;}

  a {color: #ffedbc;
    font-size: 30px;}

  .courses1 {
  padding-top: 100px;
    display: grid;
    grid-template-columns: 500px 500px 500px;
    grid-template-rows: 500px 500px;
    grid-gap: 20px;
    justify-content: center;
    align-content: space-evenly;
    background-color:rgba(82, 60, 42, 0.55);
  }
  div {border: 2px #ffd5bc solid;}
  
  h1 {
    color: #ffedbc;
    font-size: 30px;
  }
  
  .pictures {
    display: grid;
    grid-template-columns: 500px 500px 500px;
    justify-content: space-evenly;
  }
  
  .imgcourses {
    width: 420px;
  }
  
  .enrolmentsection {
    display: grid;
    grid-template-rows: 100px 500px;
    align-items: center;
    font-size: 30px;
    background-color: rgba(82, 60, 42, 0.55);
    justify-content: center;
  }
  
  .enrolment {
    align-self: start;
  }
  
  form {
    border: 2px rgba(82, 60, 42, 0.55) solid;
    padding: 10px;
    text-align: center;
    justify-self: center;} 