body {padding: 0;
    margin: 0;
    box-sizing: border-box;  
background-image: url(../Assets/wallpaperflare.com_wallpaper.jpg);
}
header {
display:grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr;
background: linear-gradient(to left, #be8a5e, #8B5D33); 
border-top: solid 2px rgb(124, 103, 103);
border-right: solid 2px rgb(124, 103, 103);
border-left: solid 2px rgb(124, 103, 103);;
background-image: url(../Assets/sunrise-ocean-morning-sea.jpg);
background-size: cover;
}

h1 { 
display: inline;
color: #ffedbc;
font-size: 40px;
position:relative; 
bottom:15px;
}
.imagen1 {
justify-self: left;
align-self: center;
width: 400px;
margin-top: 20px;
margin-bottom: 20px;
margin-left: 20px;
box-sizing: content-box;
border: 2px solid #ffedbc;
grid-column: 1;
}
.link1 {
margin: 1px 3px;
font-size: 30px;
 color: #f9bc60; 
 background-color: #3f3e3d;
}
.link1:hover {background-color: #0a0a0a;}

ul {
justify-self:end ;
padding: 1px 1px 1px 1px;
grid-column: 3;
grid-row: 1;   
}
.boton1 {
    width: 300px;
    height: 100px;
    background-color: #ffedbc;
    font-size: 30px;
    align-self: center;
    justify-self: center;
    grid column:2;}

.section1 {
    background: linear-gradient(to left, #be8a5e, #8B5D33 );
}
.section2{
display: flex; 
justify-content: center ;
}
h2 {
display:inline;
position: relative; 
bottom: 20px; 
font-size: 65px;
color: #ffedbc;
}
#boton1{ 
display: inline;
margin-left: 850px;
position:relative; 
bottom: 50px;
font-size: 20px;
}
.section3 {
 display:flex; 
position: relative; 
align-items: center;
border: double 5px #f9bc60;
}
.imagensection3{
display: flex;
flex-direction: row;
align-items: center;
margin-left: 15px;
margin-right: 15px;
border: 1px;
}
.section4 {
display:flex; 
margin: 5px 5px;
justify-content: center;
border-top: solid 1px #f9bc60;
border-left: double 5px #f9bc60;
border-bottom: double 5px #f9bc60;
border-right: double 5px #f9bc60;
}
.link2 {
display: flex; 
position: relative; 
margin-left: 5px;
margin-right: 5px;
font-size:  25px; 
font-weight: 800; 
color: #f9bc60; 
border: solid 2px #f9bc60;
background-color: #3f3e3d;
}
.link2:hover {
    background-color: #0a0a0a;
}
.footer{
    display:flex;
    flex-direction: column;
align-items: center;}
.footerbrand {margin-top: 2px;
margin-bottom: 2px;}