@use "variablescolor";

body {padding: 0;
    margin: 0;
    box-sizing: border-box;  
background-image: url(../Assets/background.jpg);
background-size: cover;
}
header {
    display: flex;
    align-items: center;
background: linear-gradient(to left, #be8a5e, #8B5D33); 
border-top: solid 2px rgb(124, 103, 103);
border-right: solid 2px rgb(124, 103, 103);
border-left: solid 2px rgb(124, 103, 103);;
}

h1 { 
display: inline;
color: #ffedbc;
font-size: 40px;
position:relative; 
bottom:15px;
}

h2 {
display:inline;
position: relative; 
bottom: 20px; 
font-size: 65px;
color: #ffedbc;
}

.footer{display:block}

.aboutuss1 {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
} 

h1{
    text-align: center;
width: 250px;
font-size:  25px; 
font-weight: 800; 
color: #f9bc60; 
border: solid 2px #f9bc60;
background-color: #3f3e3d;}

.aboutuss1 p  {
display: flex;
text-align: center;
align-items: center;
justify-content: center; 
width: 500px;
background-color: #be8a5e;} 

