@use "variablescolor";
@use "mixinflexbox";
@use "mixinfooter";

body {padding:0;
    margin:0;
    box-sizing: border-box;  
    background-image: url(../assets/background.jpg);
    background-size: cover;
    }
    header {
    display: flex;
    flex-direction: column;
    align-items: start;
    background: variablescolor.$colorfondo; 
    border-top: variablescolor.$Borders;
    }
    
    .back {
        margin: 1px 3px;
        font-size: 30px;
        color: #f9bc60; 
        background-color: #3f3e3d
    }
    .section1 {display: flex;
        flex-direction: column;
    justify-items: center;
    align-items: center;
margin-top: 25px;
margin-bottom: 25px; }

    .section1 { @include mixinflexbox.flexcenter;}
    
    .languages1 {
        @include mixinflexbox.flexcenter;
        text-align: center;        
        flex-wrap: wrap;
        flex-direction: column;
        width: 500px;
        background-color: rgba(190, 138, 94, 0.55);
    border: 2px solid black;}
    
    .title { 
        @include mixinflexbox.flexcenter;
    color: variablescolor.$colortexto ;
    font-size: 40px;
    bottom:15px;
    }
    .back {align-self: start;}
    
    h2 {
    display:inline;
    position: relative; 
    bottom: 20px; 
    font-size: 65px;
    color: #ffedbc;
    }
    .footer {@include mixinfooter.footerformat;}
    
    
    h1{
        text-align: center;
    width: 250px;
    font-size:  25px; 
    font-weight: 800; 
    color: #f9bc60; 
    border: solid 2px #f9bc60;
    background-color: #3f3e3d;}
    